@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');

.outline {
    font-family: PP Mori;
    font-size: 200px;
    font-weight: 600;

    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
}

.accent {
    font-family: PP Mori;
    font-size: larger;
    /* text-transform: uppercase; */

    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: blue;
    -webkit-text-fill-color: transparent;
}

.blue {
    color: blue;
}

.indent {
    padding-left: 10rem;
}

body {
    color: black;

    margin-left: 3%;
    margin-right: 3%;
}

h1 {
    font-family: PP Eiko;
    font-size: 350px;
    font-weight: 500;
    line-height: 200px;
}

.heading-style-1 {
    font-family: PP Eiko;
    font-size: 350px;
    font-weight: 500;
    line-height: 175px;
}

h2 {
    font-family: PP Mori;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;

    padding-top: 3rem;
    padding-bottom: 1rem;
    min-width: 1000px;
}

h3 {
    font-family: PP Mori;
    font-size: 40px;
    font-weight: 600;

    padding-top: 2rem;
    padding-bottom: 1rem;
}

p {
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;

    padding-bottom: 1rem;
}

blockquote {
    font-family: PP Mori;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

    padding-left: 20%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    min-width: 750px;
}

em {
    font-style: italic;
}

li {
    padding-bottom:.5rem;
}

.sticky-list {
    font-family: PP Mori;
    font-size: 20px;
    font-weight: 800;
}

.sticky-list:hover {
    color:blue;
    font-size: xx-large;

    transition: ease-in-out;
    transition: 0.3s;
}

.sub-list {
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 500;

    padding-left: 3rem;
}

.sub-list:hover {
    color: blue;
    font-size: x-large;
    
    transition: ease-in-out;
    transition: 0.3s;
}

.regular-list {
    font-family: PP Mori;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

    padding-left: 20%;
    padding-bottom: 1rem;
    min-width: 700px;

    list-style-type: square;
    list-style-position: outside;
}

header {
    padding-bottom: 4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 50px;

    width: 35%;
    padding-right: 10rem;
}

.main {
    position: relative;
    top: -690px; 
    padding-left: 10rem;
}

section {
    width: 550px;
    margin: auto;
}

footer {
    width: 550px;
    margin: auto;

    text-align: center;
}

a {
    color: black;
    background-color: #EAFF01;
    text-decoration-line: underline;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration-line: underline;

    transition: ease-in-out;
    transition: 0.3s;
}

.grid-container {
    display: flex;
    column-gap: 4rem;
    padding-left: 10%;
    min-width: 700px;
}

.grid-container2 {
    display: flex;
    column-gap: 4rem;
    padding-left: 40%;
    min-width: 900px;
}

.grid-item {
    max-width: 550px;
}

.grid-container-sticky {
    display: grid;
}

.numbers {
    font-family: PP Eiko;
    font-size: 150px;
    text-align: right;
    width: 5rem;
}

