@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap');

#outline {
    font-family: PP Mori;
    font-size: 200px;
    font-weight: 600;

    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
}

body {
    color: black;

    margin-left: 3%;
    margin-right: 3%;
}

h1 {
    color: black;

    font-family: PP Eiko;
    font-size: 250px;
    font-weight: 500;
    line-height: 175px;
}

h2 {
    color: black;

    font-family: PP Mori;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;

    padding-top: 4rem;
    min-width: 1000px;
}

h3 {
    color: black;

    font-family: PP Mori;
    font-size: 40px;
    font-weight: 600;
}

h4 {
    color: black;

    font-family: PP Mori;
    font-size: 20px;
    font-weight: 800;

    padding-top: 1rem;
}

p {
    color: black;

    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

blockquote {
    font-family: PP Mori;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

    padding-left: 15%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-width: 700px;
}

em {
    font-style: italic;
}

strong {
    font-weight: 800;
}

ul {
    font-family: PP Mori;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

    padding-left: 20%;
    min-width: 700px;
}

li {
    display: list-item;
    list-style-type: square;
    list-style-position: outside;
}

header {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.wrapper {
    display: grid;
}


.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    
    width: 50%;
}

.sticky-list {
    padding-left: 2rem;
    padding-top: 1rem;
}

section {
    width: 550px;
    margin: auto;
}


footer {
    width: 550px;
    margin: auto;

    text-align: center;
}

a {
    color: black;
    background-color: #EAFF01;
}

a:hover {
    color: blue;
    background-color: transparent;
}

.grid-container {
    display: flex;
    column-gap: 4rem;
    padding-top: 2rem;
    min-width: 550px;
    margin: auto;
}

.grid-container2 {
    display: flex;
    column-gap: 4rem;
    padding-left: 30%;
    padding-top: 2rem;
    min-width: 750px;
}

.grid-container-sticky {
    display: grid;
}

.numbers {
    font-family: PP Eiko;
    font-size: 150px;
    text-align: right;
    width: 5rem;
}
