@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=PT+Mono&display=swap');

#outline{
    font-family: PT Mono;
    font-size: 100px;
}

body{
    color: black;

    margin-left: 5%;
    margin-right: 5%;
}

h1{
    color: black;

    font-family: PP Eiko;
    font-size: 250px;
    line-height: 100px;
}

h2{
    color: black;

    font-family: PP Eiko;
    font-size: 70px;
    line-height: 70px;
}

h3{
    color: black;

    font-family: PT Mono;
    font-size: 40px;
}

p{
    color: black;

    font-family: PT Mono;
    font-size: 14px;
    line-height: 20px;

    width: 40vw;
}

blockquote{
    font-family: PP Mori;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

    padding-left: 10%;
    width: 50vw;
}

ul{
    font-family: PP Mori;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

a{
    color: black;
    background-color: #EAFF01;
}